@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: #f9fafb;
  --color-foreground: #111827;
  --color-card: #ffffff;
  --color-card-foreground: #111827;
  --color-muted-foreground: #4b5563;
  --color-border: #e5e7eb;
}

.dark {
  --color-background: #020617;
  --color-foreground: #f8fafc;
  --color-card: #1e293b;
  --color-card-foreground: #f8fafc;
  --color-muted-foreground: #94a3b8;
  --color-border: #334155;
}
